<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TestSeptWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>com.h2k.servlet.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>req</servlet-name>
		<servlet-class>com.h2k.servlet.ReqTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>req</servlet-name>
		<url-pattern>/req</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>track</servlet-name>
		<servlet-class>com.h2k.servlet.UrlEncoderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>track</servlet-name>
		<url-pattern>/track</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>resp</servlet-name>
		<servlet-class>com.h2k.servlet.RespTestServlet</servlet-class>
		<init-param>
			<param-name>DBName</param-name>
			<param-value>Sybase</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>resp</servlet-name>
		<url-pattern>/resp</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>logging</filter-name>
		<filter-class>com.h2k.servlet.filter.LoggingFilter</filter-class>
		<init-param>
			<param-name>filterInput</param-name>
			<param-value>Value Of Filter Init Param</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>logging</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<filter>
		<filter-name>audit</filter-name>
		<filter-class>com.h2k.servlet.filter.AuditingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>audit</filter-name>
		<url-pattern>/resp</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>session</servlet-name>
		<servlet-class>com.h2k.servlet.SessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>session</servlet-name>
		<url-pattern>/session</url-pattern>
	</servlet-mapping>
	
	<!--  This Session timeout is in minutes -->
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	
	<listener>
		<listener-class>com.h2k.servlet.listener.ServletContextListenerImpl</listener-class>
	</listener>
	<listener>
		<listener-class>com.h2k.servlet.listener.ServletContextAttibuteListernerImpl</listener-class>
	</listener>
	<listener>
		<listener-class>com.h2k.servlet.listener.CustomerDTO</listener-class>
	</listener>
</web-app>